body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/eldab3.jpg");
    background-size: contain;
    text-align: right;
}
h3{
    text-align: center;
    color: white;
    border: 1px solid transparent;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.orders-box{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #F7ECDE;
    margin: 15px;
}
.visited-deps>ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.visited-deps>ul>li{
    width: 100%;
    margin: 5px 0px;
    padding: 1px;
    border-radius: 5px;
}
.time{
    width: 100%;
}
.form-label-css{
    width: 20%;
}
ul{
    text-align: right;
    direction:rtl;
}